.div1 {
    display: flex;
    height: 100vh;
}

.h1 {
    margin-left: 5%;
    padding-top: 2vh;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
}

.step2 {
    display: flex;
    background-color: white;
    height: 100vh;
    width: 50%;
    flex-direction: column;
}

.step3 {
    display: flex;
    background-color: yellow;
    height: 100vh;
    width: 50%;
    flex-direction: column;
}

.theFile {
    height: 50px;
    margin-top: 20px;
    margin-left: 10%;
    width: 200px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.formDiv {
    margin-top: 20px;
}

.theForm {
    margin-left: 10%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.returnBtn{
    display: flex;
    align-items: center;
    background-color: #1488D8;
    color: white;
    width: 120px;
    justify-content: space-around;
    padding: 10px 5px;
    margin-left: 5%;
    margin-top: 10px;
}

.imDiv {
    display: block;
    height: 100px;
    display: flex;
}

.img_ltk {
    display: flex;
    flex-direction: column;
}