.theWhole {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    background-color: white;
    height: 80vh;
}

.btn_div {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.h1 {
    padding-left: 10%;
    padding-top: 2vh;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
}

.step2 {
    display: flex;
    height: 100vh;
    width: 48%;
    flex-direction: column;
}

.step3 {
    display: flex;
    height: 100vh;
    width: 48%;
    flex-direction: column;
}

.theFile {
    height: 10vh;
    margin-left: 15%;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.formDiv {
    margin-top: 2vh;
    height: 60vh;
    margin-left: 15%;
}

.theForm {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.formDiv2 {
    margin-top: 20px;
    height: 70vh;
    margin-left: 10%;
}

.btn{
    display: flex;
    align-items: center;
    background-color: #1488D8;
    color: white;
    width: 120px;
    justify-content: space-around;
    padding: 10px 5px;
    margin-left: 5%;
    margin-top: 10px;
}

.imDiv {
    display: block;
    display: flex;
}

.ltk_cell {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.dan_cell {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.map {
    height: 20vh;
}

.lbl {
    font-weight: bold;
    font-size: 16px;
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
}

.step3_margin {
    margin-top: 10vh;
}

.print_btn_div {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.barwidth {
    width: 40%;
}

.reminder {
    font-size: 12px;
}

.left_align_5 {
    margin-left: 5%;
}