.icon{
    width: 20px;
    height: 20px;
    background-color: lightblue;
}

.firstCell{
    background-color: aqua;
}


.secondCell{
    background-color: lightgreen;
}

.thirdCell{
    background-color: azure;
}

.box{
    text-align: center;
    border-style: solid;
    border-color: grey ;
    border-width: 1px;
    width: 60px;
    border-radius: 3px;
    font-family: sans-serif;
}