.blurBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/slbktv.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px); /* Adjust the blur intensity */
  z-index: -1; /* Send the blurred image behind the content */
}
